#mainbod {
    display: grid;
    place-items:center;
}
body {
    background-color: rgb(255, 189, 189);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(102, 67, 67);

}

button {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: none;
    border: 6px dashed rgb(250, 117, 117);
    color: rgb(66, 66, 66);
}
button#yesButton {
    padding: 30px;
}
button:hover {
    background-color: rgb(188, 144, 144)
}
button#noButton {
    position: relative;
    z-index: 2;
}


.social-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    
  }
  
  ul.menu-simple {
    list-style: none;
    display: inline-flex;
  }

  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
    margin: 5px;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  